{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "eslint:recommended"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {},
  "globals": {
    "_": true,
    "$api": true,
    "$auth": true,
    "$util": true,
    "$validate": true,
    "$is": true
  }
}
