.el-container {
  height: 100%;
}

.el-header {
  padding: 0 !important;
  color: #333;
  line-height: 0.75rem;
  border-bottom: 1px solid #eee;
}

.el-aside {
  width: auto !important;
  color: #333;
  line-height: 2.5rem;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.el-main, .el-footer {
  overflow: visible !important;
  padding: 0 !important;
  color: #333;
  background-color: #e9eef3;
}

.el-footer {
  height: auto !important;
  line-height: 0.6rem;
}

.el-menu {
  height: 100%;
}

.el-menu--collapse {
  span,
  i.el-submenu__icon-arrow {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

/* <i/>样式 */
.no-icon {
  display: inline-block;
  margin-right: 0.0625rem;
  width: 0.225rem;
}

.is-active {
  position: relative;
  background-color: rgba(64, 158, 255, 20%) !important;
}