/* 全局公共的css */
@import url("./reset.less");
@import url("./element.less");
@import url("./transition.less");

//修改浏览器默认样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(236, 235, 235);
}
